$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: #000;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#video_bg{
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

#oos_bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.7;
  background-color: #3B4E46;
}

@keyframes gs {
    0% {
        opacity: 1;
        -webkit-filter: grayscale(100%);
    } 50% {
        -webkit-filter: grayscale(60%);
    } 100% {
        -webkit-filter: grayscale(0%);   
    }  
}

@keyframes oostext {
    0% {
        content: "/ /";
    } 33% {
      content: "|-/";
    } 66% {
      content: "\\ \\";
    } 100% {
      content: "/-/";
    }
}

.oos{
  -webkit-animation: gs 6s;
}

.oostext{
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 50px;
  font-family: monospace;
  &:after {
    animation: oostext 2s linear infinite alternate;
    display: block;
    content: "/";
    font-size: 80px;
  }
}

@keyframes sync {
    0% {
      opacity: 0;
      -webkit-filter: hue-rotate(90deg) saturate(0.4);
    } 20% {
      opacity: 0;
      -webkit-filter: hue-rotate(90deg) saturate(0.4);
    } 100% {
      opacity: 1;
      -webkit-filter: hue-rotate(0deg) saturate(1);
    }
}

.sync{
  -webkit-animation: sync cubic-bezier(0.5, 0.2, 0.3, 1.0) 4s;
}

.vignette {
    position: relative;
    width:100%;
    height:100%;
    margin:0;
    z-index:0;
}

.vignette:after {
    -moz-box-shadow: inset 0 0 40em rgba(0,0,0,1);  
    -webkit-box-shadow: inset 0 0 40em rgba(0,0,0,1);   
    box-shadow: inset 0 0 40em rgba(0,0,0,1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
    -webkit-animation: fade .5s ease-out;
    -webkit-animation-iteration-count: 1;
    animation: fade .5s ease-out;
    animation-iteration-count: 1;
}

/* Override container css for now */
.container{
  position: absolute;
  height: 100%;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.view{
  height: 100%;
  width: 100%;
}


#innerCircle {
    position: fixed;
    z-index:999;
    right:23px;
    bottom:23px;
	width: 24px;
	height: 24px;
	background: #fff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    opacity:.8;
}

#outerRing {
    position: fixed;
    z-index: 998;
    right: 18px;
    bottom: 18px;
	width: 34px;
	height: 34px;
	border: 2px solid #2e74b5;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
    opacity: .7;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(46,116,181,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(46,116,181,1);
    box-shadow: 0px 0px 30px 0px rgba(46,116,181,1);
}


@-webkit-keyframes pulsate {
    0% {opacity: .7;}
    50% {opacity: .3;}
    100% {opacity:.7;}
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    100% {opacity:1;}
}
